/* #region Import police */

    /* #region Montserrat */
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Black.ttf);
        font-weight: 900;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-BlackItalic.ttf);
        font-weight: 900;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Bold.ttf);
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-BoldItalic.ttf);
        font-weight: 700;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-ExtraBold.ttf);
        font-weight: 800;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
        font-weight: 800;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-ExtraLight.ttf);
        font-weight: 200;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
        font-weight: 200;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Italic.ttf);
        font-weight: 400;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Light.ttf);
        font-weight: 300;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Light.ttf);
        font-weight: 300;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-LightItalic.ttf);
        font-weight: 300;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Medium.ttf);
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-MediumItalic.ttf);
        font-weight: 500;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Regular.ttf);
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-SemiBold.ttf);
        font-weight: 600;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
        font-weight: 600;
        font-style: italic;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-Thin.ttf);
        font-weight: 100;
        font-style: normal;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(lib/fonts/Montserrat/Montserrat-ThinItalic.ttf);
        font-weight: 100;
        font-style: italic;
    }   /* #endregion */
    
        /* #region Press Start 2P */
    @font-face {
        font-family: 'Press Start 2P';
        src: url(lib/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
    }   /* #endregion */
    
        /* #region Russo One */
    @font-face {
        font-family: 'Russo One';
        src: url(lib/fonts/Russo_One/RussoOne-Regular.ttf);
    }   /* #endregion */
    
        /* #region Yellowtail */
    @font-face {
        font-family: 'Yellowtail';
        src: url(lib/fonts/Yellowtail/Yellowtail-Regular.ttf);
    }  
    @font-face {
        font-family: 'bungeeInline';
        src: url(lib/fonts/bungeeInline.ttf);
    }

     /* #endregion */
    
    /* #region AlienSF */
@font-face {
    font-family: 'AlienSF';
    src: url(lib/fonts/SFAlien/SFAlienEncounters.ttf);
    }

@font-face {
    font-family: 'AlienSFItalic';
    src: url(lib/fonts/SFAlien/SFAlienEncounters-Italic.ttf);
}

@font-face {
    font-family: 'AlienSFSolid';
    src: url(lib/fonts/SFAlien/SFAlienEncountersSolid.ttf);
}

@font-face {
    font-family: 'AlienSFSolidItalic';
    src: url(lib/fonts/SFAlien/SFAlienEncountersSolid-Ital.ttf);
}   /* #endregion */

    /* #endregion Import police */

/* #region Page d'accueil */
body{
    margin:0;
    background-image: url("lib/images/background.jpg");
    color:white;
    overflow-x: hidden;
    padding-top: 10%;
    padding-bottom: 10%;
}
.flex-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    border-bottom:1px solid #ffffff ;
    box-shadow:0 2px 20px #FF00F5, inset 0 -2px  #FF00F5;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color:white;
    font-family:"Press Start 2P" ;
    font-size: medium;
    font-weight: 500;
}
.logo a, .navigation a {
    text-decoration: none;
    font-family:"Press Start 2P" ;
    font-size:xx-small;
    /* letter-spacing: .45rem; */

}
.logo img{
height: 5vh;
padding-left: 2vw;
}
.div-nav{
  
    /* a changer les paddings, trouver soluc  */
    margin: 0;
    padding-top:auto;
}

.navigation  {
    list-style: none;
  display: flex;
  margin: 0;
  padding-right:3em ;
}

.navigation a {
  display: block;
  padding:2em 1em 2em 1em;
  color: white;
  margin:0;
  
}
#accueil-titre {
    font-family: 'Russo One';
    text-align: center;
    font-size: 2em;
    background: linear-gradient(180deg, #40E5E5 30%, #FFFFFF 50%, #FF00F5 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #FFFFFF 0.1px;
    /* text-shadow: 4px 4px 0px black, 4px 4px 15px white; */
    filter: drop-shadow(4px 4px 0px black) drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.6));
}

#accueil-noms {
    font-family: 'Yellowtail';
    font-weight: 500;
    text-align: center;
    font-size: 1.6em;
    transform: rotate(-5deg);
    text-shadow: 0px 0px 8px #FF00F5, 0px 0px 6px white;
    margin-bottom: 6%;
    position: relative;
    bottom: 20px;
    transition: 400ms;
}
#intro{
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';

    font-size: large;
  }

.vignette{
    text-align: center;
}
.Technologies{
    
    background-image: radial-gradient( #fd8989 , #DB323D );
}
.Dessin{
    background-image: radial-gradient(  #62f6ac , #00CC66);
}
 .Retrogaming{
    background-image: radial-gradient( #fc69f5 , #bf00b5);
}
 .Cinema{
    background-image: radial-gradient(  #89e7ff , #21a0c4);
    margin-bottom: 20vh;
    padding:5px
}
.icone-card{
    height: 20vh;
}
header{
    z-index: 5;
    position: relative;
    top: 0;
    position: fixed;
}

footer {
    
    font-family: "Press Start 2P";

    width: 100%;
    height: auto;
    position: relative;
    bottom: 0px;
    background: black;
    position: fixed;
    border-top:1px solid #ffffff ;
    box-shadow:0 -2px 20px #FF00F5, inset 0 1px  #FF00F5;
}


footer img {
    width: 5%;
    float: left;
    position: relative;
    left: 5%;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 3vw 0 3vw;
}

footer ul li a {
    text-decoration: underline 0.3em;
    background: black;
    text-decoration-color: rgba(255, 255, 255, 0);
    font-size: 50%;
    transition: text-decoration-color 500ms, color 500ms;
}

#footer-li-te {
    color: #DB323D;
}

#footer-li-te:hover {
    color: whitesmoke;
    text-decoration-color: #DB323D;
}

#footer-li-re {
    color: #C200BB;
}

#footer-li-re:hover {
    color: whitesmoke;
    text-decoration-color: #C200BB;
}

#footer-li-an {
    color: #00CC66;
}

#footer-li-an:hover {
    color: whitesmoke;
    text-decoration-color: #00CC66;
}

#footer-li-ci {
    color: #2ADCF4;
}

#footer-li-ci:hover {
    color: whitesmoke;
    text-decoration-color: #2ADCF4;
}

footer p {
  
    font-size: 50%;
}

#footer-p1 {
    text-align: center;
    margin: 1% auto auto auto;
}

#footer-p2 {
    text-align: right;
    margin-right: 2vw;
}
/* #endregion Page d'accueil */



/* #region Jeux-vidéos */
#re_insert_title{
    text-align: center;
    font-family:"Press Start 2P" ;
    font-size: large;
    font-weight: 500;
}
#re_insert_coin{

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    padding:1em;
    margin: auto;

    border: 1px solid #ffffff;
    box-shadow:0 0 30px #FF00F5;

    text-align: center;

    display: table;
    max-width:50%;
    min-width:150px;

    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#re_insert_coin a{
    font-size: x-large;
    color:#FFFFFF;
    text-decoration: none;
    font-family:"Press Start 2P" ;  
}
.re_insert_coin_body footer{
    position: absolute;
    bottom: 0;
}
.re_content{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    line-height: 1.3em;
    text-align: justify;
    padding-bottom: 20%;
    padding-top: 10%;
    
}
.re_content #intro{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size:large;
}

.re-nav{
    align-self: center;
}
.re-nav li{
    padding-top: 1em;
    font-size: medium;
    color: #FF00F5;
    font-weight: 700    ;
    list-style-type: none;
    text-decoration: none;
}
.re-nav li:first-child{
color: #FFFFFF;
font-size: large;
}
.re-nav li a{

    font-size: medium;
    color: rgb(255, 0, 245);
    list-style-type: none;
    text-decoration: none;
}
.re_content h3{
    color: #FF00F5;
    font-size: large;
    font-weight: 500;
}
.re_content p {
    font-size: medium
}

.re-img{
    width: 80vw; 
    height: 20vh;
     object-fit: cover;

padding: 1em 0em 1em 0em;

}
.re_content .rayon_rose{
    background: rgb(255,0,245);
    background: radial-gradient(circle, rgba(255,0,245,1) 0%, rgba(252,70,107,0) 100%);
}
.re-img-jeu{
    
    padding: 1em;
    max-height: 40vh;
}
.re_content article{
 text-align: left;
    border-bottom: 2px solid #FF00F5;
    padding: 2em;
}
.re_content .outro{
    text-align: left;
    line-height: 1.5em;
    font-size: large;
}
.re_content .rubrique{
    margin-top: 4em;
}
.re_content .style-nav{
    width: 80vw;
    text-align: left;

}
.re_content #img_sommaire{
    display: none;

}
#re-ancre {
    display: none !important;
}

/* #endregion Jeux-vidéos */



/* #region Cinéma */

#ci-ancre {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0vw;
    opacity: 100%;
}

.ci_body {
    font-family: Montserrat;
    text-align: justify;
}

.ci_accueil_gif {
    text-align: center;
}

#ci_gif {
    max-width: 100%;
}

#ci_acc_fig {
    font-family: AlienSFSolid, Montserrat;
    color: #2ADCF4;
    font-size: larger;
}

#ci_sommaire_p, #ci_jeu_p {
    text-align: center;
    padding: 2% 10%;
    margin: 1% 0% 5% 0%;
    background-color: #2adcf43e;
    font-size: 1.55em;
}

.ci_sommaire_list>li {
    list-style-type: none;
    font-size: 1.6em;
    font-weight: bold;
}

.ci_titre_page {
    font-family: AlienSFItalic, Montserrat;
    font-weight: normal;
    font-size: 4.5em;
    color: #2ADCF4;
    text-align: center;
}

.ci_sommaire_list>ul>li, .ci_sommaire_list>ul>li>a{
    list-style-type: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #2ADCF4;
    text-decoration: none;
}

.ci_film_année_pair {
    text-align: center;
}

.ci_film_année_impair {
    text-align: center;
}

.ci_film_année_pair>li {
    display: inline-block;
    width: 18%;
    text-align: justify;
}

.ci_film_année_impair>li {
    display: inline-block;
    width: 18%;
    text-align: justify;
}

.ci_film_année_pair>li>a, .ci_film_année_impair>li>a{
    text-decoration: none;
    color: #2ADCF4;
    text-shadow: 0px 0px 20px white;
    font-weight: bolder;
    font-size: x-large;
}

.ci_annee_cible {
    text-align: center;
    color: #2ADCF4;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0px 0px 10px #ffffff74;
}

.ci_film_pair{
    text-align: justify;
    display: flow-root;
    font-size: 1.5em;
    background-color: #2adcf43e;
    max-width: 100%;
    margin: 1%;
}

.ci_film_pair p a {
    text-align: center;
}

.ci_film_pair>img {
    width: 33.3%;
    margin: 3% 33.3%;
    border-radius: 40px;
}

.ci_film_pair a, .ci_film_impair a {
    text-decoration: none;
    font-size: 1.2em;
    color: #2ADCF4;
    padding: 0% 22.9%;
}

.ci_film_pair p b, .ci_film_impair p b {
    color: #2ADCF4;
}

.ci_film_pair>p, .ci_film_impair>p {
    margin: 2%;
}

.ci_film_impair {
    text-align: justify;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5em;
    background-color: #2adcf43e;
    max-width: 100%;
    margin: 1%;
}

.ci_film_impair>img {
    width: 33.3%;
    margin: 3% 33.3%;
    border-radius: 40px;
}

#ci_gloss_link {
    color: #2ADCF4;
    margin-left: 35%;
}

.ci_glossaire {
    font-size: 1.4em;
}

.ci_glossaire>p {
    background-color: #2adcf45a;
    padding: 1%;
    margin: 1%;
}

.ci_glossaire p b {
    color: #2ADCF4;
}

.ci_footer_links li {
    display: inline-flex;
    margin-left: 10%;
    list-style-type: none;
    font-family: Montserrat;
}

#ci_footer_links li {
    display: inline-flex;
    margin-left: 4%;
    list-style-type: none;
    font-family: Montserrat;}

.ci_footer_links li a{
    font-weight: bold;
    text-decoration: none;
    color: #2ADCF4;
}

.ci_body_section {
    margin-bottom: 10%;
}

#ci_footer {
    position: static;
    margin-bottom: -12%;
    padding-bottom: 0.5%;
}

#ci_footer_accueil {
    position: static;
    margin-bottom: -12%;
    padding-bottom: 0.5%;
}

#ci_footer_sommaire {
    position: static;
    margin-bottom: -12%;
    padding: 0.5%;
}
/* #endregion Cinéma */



/* #region Dessins-animés */
#an-titre{
font-family:"Press Start 2P";
font-size: 8px;
text-align: center;
margin :auto;
}

.an-text{
padding: 10px 10px 10px 10px;
border: 5px dotted #e6e6e6;
margin: 0px auto;
border: 5px dotted #078b33;
margin: 10% auto;
width: 80%;
text-shadow: 2px 2px 3px #389355;
font-size: 20px;
font-weight: 600;
letter-spacing: 2px;
text-align: center;
color: #c6c1c1;
font-family:'Montserrat';
}
    
#halobleu{
width: 10em;
height:auto;
position: relative;
top: 30px;
padding-left: 0px;
}

.an-album{
display: flex;
flex-wrap: wrap;
flex-basis: auto; 
flex :auto;
align-items: center;
justify-content : space-around;
}

.rounded-img{
border-radius: 10px;
}
    
.an-vignette-img{
background: rgba(15, 174, 95, 0.5) ;
margin: 2%;
padding: 20px 20px 20px 20px;
border-radius: 20px;     
}
    
.an-vignette-caption{
color: white;
text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 2px rgb(35, 186, 131);
font-family:"bungeeInline";
background:  rgba(182, 255, 221, 0.5);
margin: 0%;
padding: 0% 5% 0% 5%;
border-radius: 10px;
display : grid;
-ms-flex-align:center;
text-align: center;
}
#an-flèche1{
height: 100px;
width: auto;
}

#an-body{
margin-top: 10%;
margin-bottom: 20%;    
}
   
#an-flèche2{
height: 100px;
width: auto;
}
/* #endregion Dessins-animés */



/* #region Technologies */
#te-ancre {
    display: none !important;
}

.te-accueil #grand-titre-technologies {
    font-family: "Press Start 2P";
    font-size: 1.5em;
    text-align: center;
    margin-top: 25%;
}

.te-body h2 {
    font-size: 1.5em;
    margin: 5% 0 5% 0;
}

@keyframes tanguer {
    from {
        transform: scale(1) rotate(-2deg);
    }
    
    to {
        transform: scale(1.1) rotate(2deg);
    }
}

.te-accueil a:hover #grand-titre-technologies {
    transform: none;
}

.te-accueil a #grand-titre-technologies {
    animation-name: tanguer;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.te-accueil a #te-rouages-haut img {
    animation-name: rotate;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.te-accueil a #te-rouages-bas img {
    animation-name: rotate;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.te-accueil a div img {
    width: 140px;
}

.te-accueil a div #te-rouage1 {
    position: absolute;
    left: calc(50vw - 50px - 90px - 20px);
    top: calc(45vh + 100px);
}

.te-accueil a div #te-rouage2 {
    position: absolute;
    left: calc(50vw - 50px + 90px - 20px);
    top: calc(45vh + 100px);
}

.te-accueil a div #te-rouage3 {
    display: none;
}

.te-accueil a div #te-rouage4 {
    position: absolute;
    left: calc(50vw - 50px - 20px);
    top: calc(45vh);
}

.te-accueil a div #te-rouage5 {
    display: none;
}
#footer_en_bas{
    position: absolute;
    bottom: 0;
}

.te-accueil a div ul li {
    flex: 18%;
}

.te-accueil a div ul img {
    margin: 20% auto 0 auto;
    width: 17vw;
}

.te-body {
    padding: 0;
}

.te-body p {
    font-weight: 500;
    text-align: justify;
    margin: 5% 0 0 0;
    padding: 5%;
    background: rgba(219, 50, 61, 0.2);
    color: white;
}

.te-body h5 {
    margin: 5% 0 0 5%;
    padding: 0;
}

.te-body #te-sommaire {
    margin-left: 5%;
    padding: 0;
}

#te-footer-sommaire {
    position: absolute;
    bottom: 0;
}

.te-paragraphe-accroche {
    font-weight: normal;
    font-size: 1em;
} 

.te-article {
    border-radius: 0;
    padding: 0;
    margin: 0 3%;
    border: rgba(255,255,255,0.8) 1px solid;
}

.te-article-stockage {
    display: block;
    margin-top: 5%;
}

.te-article-stockage img {
    display: none;
}

.te-article-stockage h4 {
    font-size: 1.5em;
    text-decoration: underline 0.2em;
}

.te-article-stockage h3 {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin: 0 0 4% 0;
    color: white;
    font-style: italic;
}

.te-article-stockage p {
    display: block;
    width: auto;
    padding: 1% 2%;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.te-article-stockage div p {
    display: block;
    width: initial;
    text-align: justify;
    background-color: transparent;
    color: white;
}

.te-article-stockage div {
    background-color: transparent;
    border-radius: 20px;
    padding: 3%;
    color: black;
}

.te-stockage-img {
    width: 20%;
    height: 20%;
    vertical-align: middle;
}

#te-article-double-div {
    display: block;
}

.te-div-double {
    max-width: 100%;
    min-height: 0;
    background-color: rgba(255,255,255,0.8) !important;
    padding: 2% 0 !important;
    margin: 4%;
}

.te-div-double h3 {
    color: black;
}

.te-div-double p {
    color: black !important;
}

#te-figure-ecrans {
    margin: 0 0 6% 0;
    caption-side: bottom;
    font-style: italic;
}

#te-figure-ecrans div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#te-figure-ecrans figcaption {
    text-align: center;
}

#te-figure-ecrans img {
    height: unset;
    width: 70vw;
    margin-top: 2%;
    border-radius: 10px;
}

.te-video-afficheurs p {
    background-color: transparent;
    margin: 0;
}

.te-article-connexion {
    margin-top: 20px;
}

.te-article-connexion p {
    background-color: transparent;
}

.te-controleurs br {
    display: none;
}

.te-controleurs p {
    margin: 0 4% !important;
    border-left: rgba(255,255,255,0.8) solid 1px;
    border-right: rgba(255,255,255,0.8) solid 1px;
    border-bottom: rgba(255,255,255,0.8) solid 1px;
    border-radius: 0 0 15px 15px;
}

.te-figure-gauche {
    text-align: center;
    float: initial;
    margin: 4% 4% 0 4%;
    padding: 10% 0 4% 0;
    background-color: rgba(219, 50, 61, 0.2);
    border-radius: 15px 15px 0 0;
    border-left: rgba(255,255,255,0.8) solid 1px;
    border-right: rgba(255,255,255,0.8) solid 1px;
    border-top: rgba(255,255,255,0.8) solid 1px;
}

.te-figure-droite {
    text-align: center;
    float: initial;
    margin: 4% 4% 0 4%;
    padding: 10% 0 4% 0;
    background-color: rgba(219, 50, 61, 0.2);
    border-radius: 15px 15px 0 0;
    border-left: rgba(255,255,255,0.8) solid 1px;
    border-right: rgba(255,255,255,0.8) solid 1px;
    border-top: rgba(255,255,255,0.8) solid 1px;
}

.te-figure-gauche img {
    height: auto !important;
    width: 70vw !important;
    border-radius: 15px;
}

.te-figure-droite img {
    height: auto !important;
    width: 70vw !important;
    border-radius: 15px;
}

.te-controleurs .p-top {
    margin-top: 4% !important;
    border-top: rgba(255,255,255,0.8) solid 1px;
    border-bottom: none !important;
    border-radius: 15px 15px 0 0;
}

.te-controleurs .p-middle {
    border-top: rgba(255,255,255,0.8) solid 1px;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0;
}

#te-div-manettes {
    background-color: rgba(219, 50, 61, 0.2);
    padding: 4%;
    margin: 0 4%;
    border-left: rgba(255,255,255,0.8) solid 1px;
    border-right: rgba(255,255,255,0.8) solid 1px;
    border-bottom: rgba(255,255,255,0.8) solid 1px;
    border-radius: 0 0 15px 15px;
}

.te-video-afficheurs > h3 {
    text-decoration: underline 0.2em;
}

.te-body .te-footer-links {
    margin-bottom: 70px;
}

.te-body .te-footer-links a {
    font-size: 0.7em;
}

/* #endregion Technologies */