/* #region Import police */
@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(lib/fonts/Montserrat/Montserrat-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}
/* #endregion Import police */



/* #region Page d'accueil */

/* #endregion Page d'accueil */



/* #region Jeux-vidéos */

/* #endregion Jeux-vidéos */



/* #region Cinéma */

/* #endregion Cinéma */



/* #region Dessins-animés */

/* #endregion Dessins-animés */



/* #region Technologies */

/* #endregion Technologies */